<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
    <tr>
        <td>
            <center>
               <span style="font-family: Arial;margin-bottom: 30px;">OWL POST</span>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <center style="max-width: 600px; width: 100%;">
                Ваш новый пароль
              <br>
                <code>{{ new_password }}</code>
            </center>
        </td>
    </tr>
</table>
</body>
</html>

