{% extends 'shared/_base.html' %}
{% block title %}
  {{ block.super }} - {{ object.title }}
{% endblock %}
{% block content %}
  {% if object.author and user.pk == object.author.pk or user.is_staff %}
    <div class="btn-toolbar my-4" role="toolbar">
      <div class="btn-group btn-group-sm me-2" role="group">
        <a class="btn btn-outline-primary" href="{% url 'app_accounts:user_detail' %}">
          <i class="bi bi-list"></i>
          Мои статьи</a>
        <a class="btn btn-outline-success" href="{% url 'app_blog:article_create' %}">
          <i class="bi bi-file-earmark-plus"></i>
          Создать новую</a>
      </div>
      <div class="btn-group btn-group-sm me-2" role="group">

        <a class="btn btn-outline-success" href="{% url 'app_blog:article_update' object.slug %}">
          <i class="bi bi-pencil"></i>
          Править</a>
        <a class="btn btn-outline-danger" href="{% url 'app_blog:article_delete' object.slug %}">
          <i class="bi bi-trash"></i>
          Удалить</a>
      </div>
    </div>
  {% endif %}
  <article class="pt-3">
    <h1 class="">{{ object.title }}</h1>

    {% if object.preview_image %}
      <img src="{{ object.preview_image.url }}" class="object-fit-cover w-100 mb-4 bottom-transparent"
           style="height: 400px;" alt="">
    {% endif %}
    <p>{{ object.content_text }}</p>
    <div class="text-end mt-5">
      <time class="text-secondary">{{ object.create_date }}</time>
    </div>

    <div class="text-end">
      <small class="text-muted">Статью просмотрели {{ object.view_count }} раз</small>
      <p class="text-muted mt-2">Автор
        {% if object.author.full_name %}
        <strong>{{ object.author.full_name }}</strong>
      {% else %}
        к сожалению не представился
      {% endif %} </p>
    </div>
  </article>
  <div>
    <h5 class="mt-5 pt-2 border-top">Популярное</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      {% for article in popular %}
        <div class="col">
          <div class="card mb-3 h-100" style="max-width: 540px;">
            <div class="card-body">
              <h6 class="card-title">{{ article.title }}</h6>
              <p class="card-text">{{ article.content_text|truncatechars:100 }}</p>

              <p class="card-text text-end">
                <small class="text-body-secondary ">{{ article.create_date }}</small>
              </p>
              <a href="{% url 'app_blog:article_detail' article.slug %}" class="stretched-link"></a>
            </div>

            <div class="card-footer">
              <small class="text-body-secondary">{{ article.view_count }} просмотров</small>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}