{% extends 'shared/_base.html' %}
{% load django_bootstrap5 %}
{% block title %}
	{{ block.super }} - Войти
{% endblock %}
{% block content %}
  <div class="position-absolute top-50 start-50 translate-middle w-25">
    <form method="post">
      {% with WIDGET_ERROR_CLASS='is-invalid' %}
        {% csrf_token %}

        {% bootstrap_form form layout="floating" %}

        <div class="d-flex justify-content-center my-4">
          <button class="btn btn-lg btn-success w-100" type="submit">Войти</button>
        </div>
        <div class="d-flex justify-content-center">
          <a href="{% url 'app_accounts:reset_password' %}" class="link-secondary">Забыли пароль</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="{% url 'app_accounts:registration' %}">Регистрация</a>
        </div>
      {% endwith %}
    </form>
  </div>
{% endblock %}