{% extends 'shared/_base.html' %}
{% load django_bootstrap5 %}
{% block title %}
	{{ block.super }} - Сброс пароля
{% endblock %}
{% block content %}
  <div class="position-absolute top-50 start-50 translate-middle w-25">
    <form method="post">
      {% with WIDGET_ERROR_CLASS='is-invalid' %}
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-success">Сбросить пароль</button>
        </div>
      {% endwith %}
    </form>
  </div>
{% endblock %}